@import url("https://fonts.googleapis.com/css?family=Raleway|Inconsolata:700|Muli:300");

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
}
